# IBM ACE / IIB Toolkit
.metadata/
workspace/
*.log
*.bak
*.tmp
.classpath
.project
.settings/

# OS junk
.DS_Store
Thumbs.db

# Build Artifacts
*.bar
*.class
*.jar
*.iml

# IDE folders
.idea/
.vscode/

# VS Code & temp files
*.swp
*.swo

# Mac Finder files
.AppleDouble
.LSOverride
Icon

# Windows Thumbnails
ehthumbs.db
Desktop.ini
